/*SECTION ONE*/
/*Formato de sección*/
.one{
  /*display: block;*/
  padding-top: 25px;
  font-family: monospace;
  font-size: 15px;
  text-align: center;
  color: black;
  background-color: yellow;
  border: 20px inset blue;
  height: 400px;
}
/*Formato de caja para ingresar offset*/
.key{
  height:20px;
  width: 50px;
  text-align: center;
  font-family: monospace;
  border-radius: 10px;
}
/*Formato de caja para ingresar texto*/
.text{
  height:50px;
  width: 500px;
  text-align: center;
  font-family: monospace;
  border-radius: 15px;
}
/*Botón para cifrar*/
.cif{
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: blue;
  border-radius: 8px;
  border: 2px solid blue;
}
.cif:hover{
  color: blue;
  background-color: #ffffff;
  border: 2px solid blue;
 }
/*Botón para descrifrar*/
.des{
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: blue;
  border-radius: 8px;
  border: 2px solid blue;
}
.des:hover{
  color: blue;
  background-color: #ffffff;
  border: 2px solid blue;
 }
/*SECTION two*/
/*Formato de sección*/
.two{
/*  display: none;*/
  padding-top: 25px;
  font-family: monospace;
  font-size: 15px;
  text-align: center;
  color: black;
  background-color: yellow;
  border: 20px inset blue;
  height: 400px;
}
/*Formato para texto resultado*/
.resultado{
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}
/*Botón copiar mensaje*/
.copiar{
  padding: 10px;
  font-weight: 350;
  font-size: 15px;
  color:black;
  background-color: gray;
  border-radius: 8px;
  border: 2px solid blue;
}
/*Botón para regresar a sección principal*/
.retornar{
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  color:#ffffff;
  background-color: blue;
  border-radius: 8px;
  border: 2px solid blue;
}
.retornar:hover{
  color: blue;
  background-color: #ffffff;
  border: 2px solid blue;
 }
/*Botón para esconder actividad*/
.esconder{
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: blue;
  border-radius: 8px;
  border: 2px solid blue;
}
.esconder:hover{
  color: white;
  background-color: red;
  border: 2px solid red;
}
/*SECTION three*/
/*Formato de sección*/
.three{
/*  display: none;*/
  padding-top: 25px;
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  color: black;
  background-color: white;
  border: 20px inset blue;
  height: 400px;
}
/*Formato imagen section 3*/
.imghide{
  padding: 1px 5px 15px 5px;
}
/*Botón para seguir jugando*/
.play{
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: blue;
  border-radius: 8px;
  border: 2px solid;
}
.play:hover{
  color: blue;
  background-color: #ffffff;
  border: 2px solid;
 }
/*Botón para seguir escondiendo actividad*/
.study{
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: blue;
  border-radius: 8px;
  border: 2px solid;
}
.study:hover{
  color: red;
  background-color: white;
  border: 2px solid red;
}
